<%- include('header'); -%>

<div class="container my-5">
<h1>Password List</h1>
  <div class="table-responsive">
  <table class="table table-hover">
  <thead class="thead bg-info text-light">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Project Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if(data.length>0){ %>
      <% data.map((pass)=>{ %>
      <tr>
        <td scope="row"><%= pass.cat_name.cat_name %></td>
        <td scope="row"><%= pass.project %></td>
        <td>
          <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#exampleModalCenter<%= pass._id %>">
            View
          </button>
          <a class="btn btn-sm btn-info" href="/all-password/edit/<%= pass._id %>">Edit</a>
          <a class="btn btn-sm btn-danger" href="/all-password/delete/<%= pass._id %>">Delete</a>
        </td>
      </tr>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter<%= pass._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"><%= pass.project %></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h6>Category Releted : <%= pass.cat_name.cat_name %></h6>
              <hr>
              <%- pass.password %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    <% })}else{ %>
   </tbody>
</table>
</div>
  <h3>No result found.</h3>
<% } %>

<%- include('footer'); -%>
