<%- include('header'); -%>

<div class="container my-5">
  <div class="col-md-6 col-sm-12 offset-md-3 my-3">
  <div class="card border-info">
    <div class="card-header bg-info text-light">Add Password</div>
    <div class="card-body p-3">
      <form action="" method="POST">
    
        <div class="form-group">
          <input name="_id" type="hidden" value="<%= data._id %>">
          <label for="project">Project Name</label>
          <input value="<%= data.project %>" class='form-control mb-3' type="text" id="project" name="project" required>
          <label for="passwordCategory">Password Category</label>
          <select class='form-control' name="passwordCategory" id="passwordCategory">
            <% if(edit.length>0){ %>
              <% edit.map((cat)=>{ %>
               <%= data.cat_name._id %>
               <%= cat._id %>
                  <% if(data.cat_name._id == cat._id){ %>
                    <option value="<%= cat._id %>"  selected> <%= cat.cat_name %> </option>
                  <% }else{ %>
                      <option value="<%= cat._id %>"> <%= cat.cat_name %> </option>
                  <% } %>
            <% })} %>
          </select>
          <label class='mt-3' for="textarea">Password Details</label>
          <textarea name="editor1" required><%- data.password %></textarea>
        </div>
        <button type="submit" class="btn btn-info">Update Details</button>
      </form>
    </div>
  </div>
</div>
</div>

 <% if(edit.length>0){ %>
              <% edit.map((cat)=>{ %>
                  <% if(data.cat_name._id == cat._id){ %>
                    <option value="<%= cat._id %>"  selected> <%= cat.cat_name %> S </option>
                  <% } %>
                  <% else{ %>
                      <option value="<%= cat._id %>"><%= cat.cat_name %> n</option>
                  <% } %>
                
<% })} %>

<%- include('footer'); -%>
